<div class="app-container" [ngClass]="{ 'bg-light': account }">
    <ng-container *ngIf="showNavbar">
        <header>
            <div class="container">
                <div class="logo">
                    <a routerLink="/landing-page">
                        <img src="assets/jb-symbol-logo.png" alt="JuanBayan Logo" style="height: 60px; width: 60px;">
                    </a>
                </div>
                <nav>
                    <ul>
                        <li><a routerLink="/landing-page">JUANBAYAN</a></li>
                        <li><a href="#">SEARCH</a></li>
                        <li><a routerLink="/campaign">DONATE</a></li>
                        <li><a routerLink="/team-member">ABOUT</a></li>
                        <li *ngIf="!account"><a routerLink="/account/login-register">SIGN IN</a></li>

                        <li *ngIf="account" class="dropdown">
                            <a href="javascript:void(0)" (click)="toggleDropdown()">{{ account.acc_firstname || 'USER' }}</a>
                            <div class="dropdown-content" *ngIf="dropdownVisible">
                                <a routerLink="/profile">Profile</a>
                                <a routerLink="/settings">Settings</a>
                                <a routerLink="/points">Points</a>
                                <a (click)="logout()">Logout</a>
                            </div>
                        </li>

                        <!-- Admin link to Overview -->
                        <li *ngIf="account?.acc_role === Role.Admin" class="admin-link">
                            <a routerLink="/admin" routerLinkActive="active">Admin Overview</a>
                        </li>

                        <li><a href="#">CONTACT US</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </ng-container>

    <alert></alert>

    <router-outlet></router-outlet>

    <footer class="footer" *ngIf="showNavbar">
        <!-- Footer content -->
    </footer>
</div>
